
body {
    background: #f7f7f7;
    text-rendering: optimizelegibility;
}
.topbar-logo{
    display: block;
    width: 105px;
    height: 48px;
    margin-right: 30px;
    line-height: inherit;
    background-image: url("../img/blacklogo.png");
}
.topbar{
    position: absolute;/*此处设置绝对定位是为了让导航条脱离文档流，背景图片可以钻到其下面*/
    width: 100%;
    color: #FFFFFF;
    line-height: 48px;
    background-color: #000000;
    background-color: rgba(0,0,0,.1);
    min-width: 1180px;/*为了解决窗口缩小时导航条出现空白情况*/
}
.shoptopbar .topbar-nav {
    color: #ccc;
}
.shopguide{
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    padding-top: 48px;
    min-width: 1180px;/*为了解决窗口缩小时导航条出现空白情况*/
}
.shopguide .container{
    height: 142px;
    position: relative;/*为了让子元素收藏图标进行定位*/
    display: table;
}
.shopguide-info{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    z-index: 1;
}
.shopguide-info>img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    border: 4px solid rgba(255,255,255,0.3);
    vertical-align: middle;
    margin-right: 15px;
}
.shopguide-info-wrapper,.shopguide-info h1,.shopguide-tip{
    display: inline-block;
    vertical-align: middle;
}
/*如果有后边的span部分，通过JavaScript给h1加上一个hastip属性*/
/*.shopguide-info h1.hastip{*/
    /*max-width: 170px;*/
/*}*/
.shopguide-info h1{
    font-size: 20px;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shopguide-info .shopguide-tip{
    background: rgb(84, 206, 117);
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
}
.shopguide-info-rate{
    margin: 10px 0;
}
.star{
    display: inline-block;
    line-height: 1em;
    color: #cccccc;
}
.shopguide-info-rate a{
    color: #FFFFFF;
}
.shopguide-info-wrapper p span{
    color: #dddddd;
    font-size: 1px;
    margin-right: 20px;
}
.shopguide-server{
    display: table-cell;
    color: #FFFFFF;
    padding-right: 100px;
    vertical-align: middle;
    text-align: right;
    width: 700px;

}
.shopguide-server>div{
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    text-align: center;
}
.shopguide-server>div:first-child{
    margin-left: 0;
}
.shopguide-server div span{
    font-weight: 400;
}
.shopguide-server-value{
    display: block;
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 18px;
}
.shopguide-favor{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 5px;
    width: 80px;
    background: #FFFFFF;
    background: rgba(255,255,255,0.1);
    color: #eeeeee;
    border-radius: 0 0 5px 5px;
    text-align: center;
}
.shopguide-favor span {
    display: block;
}

.shopguide-info:hover .shopguide-info-extra{
    max-height: 900px;
    opacity: 1;/*规定不透明度。从 0.0 （完全透明）到 1.0（完全不透明）。*/
}
.shopguide-info-extra{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 142px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    opacity: 0;/*完全透明*/
    transition: opacity .1s ease-in-out,max-height .4s ease-in-out;
}
.shopguide-info-extra {
    background: #FFF;
    background: rgba(255,255,255,0.1);
}
.shopguide-info-extra ul{
    list-style: none;
    padding: 0 20px;
    background-color: #FFFFFF;
    color: #333333;
}
.shopguide-info-item{
    padding: 15px 0;
    color: #666666;
    border-top: 1px dashed #eeeeee;
}
.shopguide-info-item:first-child{
    border-top: none;
}
.shopguide-extra-delivery{
    margin-bottom: 10px;
}
.shopguide-extra-delivery span{
    color: #0089dc;
    margin: 0 5px;
}

.shopnav{
    line-height: 57px;
    background-color: #FFFFFF;
}
.shopnav-left,.shopmenu{
    width: 75%;
    float: left;
}
.shopnav-tab{
    position: relative;
    display: inline-block;
    color: #333333;
    width: 112px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
}
.shopnav-tab.active{
    color: #0089dc;

}
.shopnav-tab.active:after {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid;

}
/* div+p 选择紧接在 <div> 元素之后的所有 <p> 元素。*/
.shopnav-tab+.shopnav-tab:before{
    width: 1px;
    background-color: #cccccc;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}
.shopnav-tab+.shopnav-tab:before, .shopnav-tab.active:after{
    content: "";
    position: absolute;
    left: 0;
}
.shopnav-filter{
    float: right;
}
.shopnav-filter>a{
    padding: 0 15px;
    display: inline-block;
    border-left: 1px solid #eeeeee;
    color: #333333;
    line-height: 1;/*代表什么意思？？？？？？？？？？？？？？？？？？、*/
}

.shopnav-filter>a.active{
    color: #0089dc;
    border-left: none;
}
.shopnav-filter>a i{
    color: #999999;
    vertical-align: middle;
}
.shopnav-filter-display {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    position: relative;
    margin-left: -5px;
    padding: 6px;
    border: 1px solid #ddd;
    color: #999;
}
.shopnav-filter-display i{
    position: absolute;
    top: 8px;
    left: 8px;
}


.shopnav-filter-display.active{
    background-color: #0089dc;
    border-color: #0089dc;
    color: #FFFFFF;
    z-index: 1;
}
/*搜索框*/
.shopnav-right {
    float: right;
    line-height: normal;
}
.place-search{
    float: right;
    margin: 10px 0;
    height: 32px;
    border: 1px solid #cccccc;
    z-index: 3;
    background: #FFFFFF;
    position: relative;
}
.place-search-btn{
    float: right;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #999999;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 46px;
}
.place-search-btn:hover{
    color: #0089dc;
}
.place-search-btn,.place-search-input{
    padding: 0 8px;
    margin: 4px 0;
    line-height: 24px;
}
.place-search-input{
    width: 216px;
    border: none;
    outline: 0;
}

/*主内容部分*/
.shopmain{
    margin-top: 20px;

}
/*滚动条向下拉动的时候商品分类进行fixed*/
.shopmenu-nav.sticky{
    position: fixed;
    width: 885px;/* 75%*1180 */
    top: 0;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.085)
}
/*滚动条向下拉动的时候商家公告进行fixed*/
.shopbulletin.sticky{
    position: fixed;
    top: 10px;
    width: 280px;
    /*z-index: 3;/!*会影响侧边框hover出现二维码*!/*/
}

.shopmenu-nav{
    padding: 10px 15px 5px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    z-index: 101;/*商品分类固定在顶端的时候使用*/
}
.shopmenu-nav a{
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
    padding: 3px 10px;
    width: 18%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    vertical-align: top;
}
.shopmenu-nav a.active,.shopmenu-nav a.active:hover{
    color: #FFFFFF;
    background-color: #0089dc;
}
.shopmenu-nav a:hover{
    background-color: #eeeeee;
}
.shopmenu-main.grid .shopmenu-list{
    width: 102%;/*因为子div中都有2%的margin-right，所以会导致变小，所以让宽度加上2%的边距*/
}
.shopmenu-title{
    padding: 20px 0 10px 15px;
    font-size: 20px;
}

.shopmenu-food {
    margin-bottom: 12px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #eee;
    height: 102px;
}

.shopmenu-main.grid .shopmenu-food {
    position: relative;
    float: left;
    margin-right: 2%;
    padding-right: 10px;
    width: 48%;
}
/*没有img的情况下*/
.shopmenu-food.noimg {
    padding-left: 15px!important;
}
.shopmenu-main.grid .shopmenu-food-name{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shopmenu-food-name,.shopmenu-food-price{
    font-size: 14px;
    font-weight: 700;
}
.color-mute{
    color: #999999;
}
.color-stress{
    color: #f74342;
}
.shopmenu-main.grid .shopmenu-food-price{
    position: absolute;
    bottom:10px;
}

/*餐品分类在列表形式下显示*/
.shopmenu-main.list .shopmenu-food {
    display: table;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.shopmenu-main.list .shopmenu-food img {
    width: 64px;
    height: 64px;
}
.shopmenu-main.list .shopmenu-food .col-1 {
    width: 10%;
}
.shopmenu-main.list .shopmenu-food .col-2 {
    width: 60%;
}
.shopmenu-main.list .shopmenu-food .shopmenu-food-main {
    text-align: left;
    max-width: 0;
}

.list .col-1,.list .col-2,.list .col-3,.list .col-4 {
    display: table-cell;
    vertical-align: middle;
}

.shopmenu-main.list .shopmenu-food .col-3 {
    width: 12%;
}
.shopmenu-main.list .shopmenu-food .shopmenu-food-price {
    color: #333;
}
.shopmenu-main.list .shopmenu-food .col-4 {
    width: 15%;
}

.shop-cartbutton,.shop-cartctrl{
    display: inline-block;
    position: absolute;
    bottom:10px;
    right: 10px;
    width: 90px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 0;
    cursor: pointer;
}
.shop-cartbutton {
    display: inline-block;
    background-color: #0089dc;
    color: #fff;
}
.list .shop-cartbutton,.list .shop-cartctrl {
    position: relative;
    right: 0;
    bottom: 0;
}
/*点击过加入购物车之后切换的样式*/
.shop-cartctrl {
    border: 1px solid #ddd;
}
.shop-cartctrl .ctrl.minus {
    left: 0;
    border-right: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
}
.shop-cartctrl .ctrl {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 24px;
    border: 0;
    width: 27px;
    text-align: center;
    background-color: #eee;
    line-height: 24px;
    outline: 0;
}
.shop-cartctrl .ctrl.quantity {
    background-color: #fff;
    width: 36px;
    left: 27px;
}
.shop-cartctrl .ctrl.plus {
    right: 0;
    border-left: 1px solid #ddd;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
/*已售完的样式*/
.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.shopmenu-main.grid .shopmenu-food img {
    float: left;
    margin-right: 14px;
    width: 100px;
    height: 100px;
}
/*右侧商家公告部分*/
.shopmain-right{
    float: right;
    width: 23.6%;
}
.shopbulletin-section{
    margin-bottom: 20px;
    border-radius: 2px 2px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,.12);;

}
.shopbulletin-section-title{
    margin-bottom: 1em;
    padding: 0 1em;
    line-height: 2.8em;
    background-color: #0089dc;
    color: #FFFFFF;
}
.shopbulletin-content{
    margin-bottom: 20px;
    padding: 0 15px 20px;
    border-bottom: 1px dashed #cccccc;
    line-height: 2;/*设置数字，此数字会与当前的字体尺寸相乘来设置行间距。当前字体是14px，也就是行高是28px*/
}
.shopbulletin-content .dapp{
    position: relative;
    width: 193px;
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: right;
    margin: 0 auto;
    border-radius: 2px;
    color: #999999;
    cursor: default;
}
.shopbulletin-content .dapp-tip {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
}
.shopbulletin-content .dapp img {
    position: absolute;
    left: 0;
    top: 61px;
    display: none;
    padding: 16px 28px;
    margin-left: -1px;
    width: 193px;
    height: 168px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
}
.shopbulletin-content .dapp:hover {
    border-radius: 2px 2px 0 0;
}
.shopbulletin-content .dapp:hover img{
    display: block;
}
.shopbulletin-content .dapp-tip .highlight {
    color: #f74342;
}
.shopbulletin-content .dapp-qrcode{
    font-size: 30px;
    margin-left: 6px;
    vertical-align: middle;
}
.shopbulletin-content .dapp-arrow{
    vertical-align: middle;
}
.shopbulletin-supports{
    padding: 0 15px;
    overflow: hidden;
    list-style: none;
}
.shopbulletin-supports li{
    padding-left: 30px;
    margin-bottom: 10px;
}
.shopbulletin-supports span{
    display: inline-block;
    width: 22px;
    height: 22px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-left: -30px;
    background-color: rgb(255,78,0);
    border-radius: 50%;
}





/*添加购物车部分*/
.shop-cart{
    position: fixed;/*还有一个作用点击购物车的时候进行伸缩定位*/
    right: 0;
    bottom: 0;
    font-size: 14px;
    width: 320px;
    height: 46px;
    z-index: 102;
}
.shop-cartbasket {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 15px #ccc;
}
.shop-grouphead {
    padding: 12px 10px;
    height: 45px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.shop-grouphead .shop-grouphead-row {
    height: 30px;
}
.shop-grouphead.single {
    background-color: #fafafa;
    border-top: 2px solid #0089dc;
}
.shop-grouphead .cart-plus{
    position: absolute;
    font-size: 24px;
    top: 6px;
    right: 10px;
    color: #0089dc;
    cursor: pointer;
    width: 20px;
    height: 20px;

}
.shop-cartfooter {
    z-index: 2;
    position: relative;
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    background-color: #2c2c2c;
    box-shadow: 0 1px 3px #2c2c2c;
}
.shop-carticon{
    position: relative;
    color: #FFFFFF;
    width: 40px;
    text-align: center;
    font-size: 20px !important;
    left: 10px;
}
.shop-cartfooter-text, .shop-carticon {
    display: inline-block;
    vertical-align: middle;
}
.shop-cartfooter-checkout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    outline: 0;
    width: 120px;
    text-align: center;
    background-color: #51d862;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.shop-cartfooter-checkout.disabled {
    background-color: #e4e4e4;
    color: #333;
    cursor: default;
}


.shop-carthelper-opener{
    position: absolute;
    right: 0;
    bottom: 10px;
    background: url("../img/child-couyicou.png") no-repeat;
    width: 111px;
    height: 107px;
    transition: all 0.3s ease-in-out,visibility 0.3s ease-in-out;
    cursor: pointer;
    visibility: hidden;
}
/*凑一凑的图片*/
.shop-carthelper-opener.show{
    right: 102%;
    visibility: visible;
}
.shop-cartbasket-empty{
    color: #999999;
    text-align: center;
}
.shop-cartbasket-empty .fa-shopping-cart{
    font-size: 40px;
    margin: 40px 0 20px;
    color: #dddddd;
}
.shop-cartbasket-empty p{
    font-size: 14px;
    margin-bottom: 40px;
}
.shop-cartpieces {
    position: absolute;
    top: -6px;
    left: 22px;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    background-color: #ff2828;
    color: #fff;
    font-weight: 700;
}
.shop-cartfooter-text.price{
    font-size: 24px;
}
.shop-cartfooter-text{
    color: #FFFFFF;
    margin-left: 6px;
}
.shop-cartfooter-text .fa-rmb{
    font-size: 14px;
}
/*购物车列表*/
.shop-cartbasket-tablerow {
    display: table;
    table-layout: fixed;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    margin-top: -1px;
}
.shop-cartbasket-tablerow .cell.itemname{
    width: 50%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666666;
}
.shop-cartbasket-tablerow .cell{
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eeeeee;
}
.shop-cartbasket-tablerow .cell.itemquantity{
    width: 25%;
    text-align: center;
}
.shop-cartbasket-tablerow .cell.itemquantity button{
    height: 20px;
    width: 20px;
    line-height: 18px;
    border: 1px solid #dddddd;
    background-color: #FFFFFF;
    outline: 0;
    cursor: pointer;
    color: #666666;
}
.shop-cartbasket-tablerow .cell.itemquantity button:nth-child(3){
    margin-left: -4px;
}
.shop-cartbasket-tablerow .cell.itemquantity input{
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    line-height: 18px;
    height: 20px;
    width: 30px;
    text-align: center;
    color: #666666;
    outline: 0;
    font-size: 12px;
    margin-left: -4px;
    /*vertical-align: top;*/
}
.shop-cartbasket-tablerow .cell.itemtotal {
    text-align: right;
    color: #f17530;
}
.hidden{
    display: none;
}







/*查看商家详情格式*/
.btn-primary{
    width: 100%;
    background-color: #0089dc;
    color: #FFFFFF;
    padding: 12px 30px;
    font-size: 16px;
    display: inline-block;
    text-align: center;


}

/*侧边栏通知*/
.sidetools{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 166px;/*暂且理解是为了居中*/
    margin: auto;
}
.sidetools-item{
    position: relative;
    display: block;
    width: 40px;
    line-height: 38px;
    color: #888888;
    font-size: 18px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    margin-bottom: -1px;/*为了防止两个border上下重合时会有2px的情况*/
}
.sidetools a:last-child{
    margin-top: 5px;
}
/*二维码图片*/
.sidetools-qrcode{
   position: absolute;
    width: 136px;
    height: 136px;
    top: 50%;
    left: -140px;
    z-index: 4;
    margin-top: -68px;
    display: none;
}
.sidetools-item:hover{
    color: #f44548;
    cursor: pointer;
}
.sidetools-item:hover .sidetools-qrcode{
    display: block;
}
/*侧边框提醒信息*/
.remind{
    display: none;
}
.sidetools-item:hover .remind{
    display: block;
}
.remind-text{
    position: absolute;
    top: 5px;
    width: 80px;
    line-height: 28px;
    background-color: #807D84;
    color: #FFFFFF;
    left: -84px;
    font-size: 12px;
    border-radius: 2px;
    letter-spacing: 2px;/*字间距*/
}
.sidetools-item .fa-caret-right{
    position: absolute;
    left: -5px;
    top: 10px;
    color: #807D84;
}
.flyer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #278ccc;
}
